<div>
  <h2>Automation Rules</h2>

  <ul>
    <li *ngFor="let rule of automationRules">
      {{ rule.trigger }} - {{ rule.action }} - {{ rule.condition }}
      <button (click)="deleteAutomationRule(rule.id)">Delete</button>
    </li>
  </ul>

  <h3>Add New Rule</h3>
  <form (ngSubmit)="saveAutomationRule()">
    <label>
      Trigger:
      <input [(ngModel)]="newRule.trigger" name="trigger">
    </label>
    <label>
      Action:
      <input [(ngModel)]="newRule.action" name="action">
    </label>
    <label>
      Condition:
      <input [(ngModel)]="newRule.condition" name="condition">
    </label>
    <button type="submit">Save</button>
  </form>
</div>
